/* Variables */
@import 'functions';

// fonts
// 
$font-x-small: rem(12);
$font-small: rem(13);
$font-medium: rem(14);
$font-medium-2: rem(15);
$font-big: rem(16);
$font-large: rem(17);
$font-x-large: rem(22);

// *? COLORS
//// 
$body-bg: #fbfbfb;
$body-color-black: #171717;
$logo-color: #6b6c6f;
$grey-color: #787a7d;
$blue-color: #1665d8;

